body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media {
    body:before {
        content: ' ';
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('https://github.com/kj415j45/osupink.css/raw/master/806928ae9c01f9a166bb62af3d21bad8779e889d-edited.jpg') center 0 no-repeat;
        background-size: cover;
    }
}
@media (min-width: 768px) {
    body {
        background-image: url('https://github.com/kj415j45/osupink.css/raw/master/806928ae9c01f9a166bb62af3d21bad8779e889d.jpg');
    }
}
