body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media {
    body {
        background-position: scroll;
        background: url('https://github.com/kj415j45/osupink.css/raw/master/806928ae9c01f9a166bb62af3d21bad8779e889d-edited.jpg');
    }
}
@media (min-width: 768px) {
    body {
        background-image: url('https://github.com/kj415j45/osupink.css/raw/master/806928ae9c01f9a166bb62af3d21bad8779e889d.jpg');
    }
}
